*.DS_Store
Launch Meeting - Zoom.webloc
*.db
Labs/.vscode/settings.json
Labs/.metals/metals.log
Labs/.metals/readonly/dependencies/scala-library-2.12.14-sources.jar/scala/Unit.scala
Labs/Lab 1/Assignment/pagecounts-20160101-000000_parsed.out
Labs/Lab 1/.vscode/settings.json
Labs/Lab 1/.metals/metals.log
*.out
*.class
*.cache
*.log
*.crc
*.jar
*.bk
Labs/Lab2/src/sparkstreaming/task1/target/
Labs/Lab2/src/sparkstreaming/task1/project/
Labs/Lab2/src/sparkstreaming/task1/checkpoints/
Labs/Lab2/src/sparkstreaming/task1/.bsp/
Labs/Lab2/src/sparkstreaming/task1/receivedBlockMetadata/
Labs/Lab2/src/.metals/
Labs/Lab2/src/.vscode/

Labs/Lab2/src/sparkstreaming/task2/target/
Labs/Lab2/src/sparkstreaming/task2/project/
Labs/Lab2/src/sparkstreaming/task2/checkpoints/
Labs/Lab2/src/sparkstreaming/task2/.bsp/
Labs/Lab2/src/sparkstreaming/task2/receivedBlockMetadata/

Labs/Lab2/src/generator/.bsp
Labs/Lab2/src/generator/project 
Labs/Lab2/src/generator/target
*.icloud

Labs/Lab2/src/graphx/target/
Labs/Lab2/src/graphx/project/
Labs/Lab2/src/graphx/.bsp/

/home/emilstahl/Documents/Data-Intensive-Computing-ID2221/Project/target/
Project/src/producer/target/maven-archiver/pom.properties
Project/src/producer/target/analysis/compile
Project/src/consumer/target/maven-archiver/pom.properties
Project/src/consumer/target/analysis/compile
Project/src/consumer/target/analysis/compile
Project/src/consumer/target/maven-archiver/pom.properties
Project/src/producer/target/analysis/compile
Project/src/producer/target/maven-archiver/pom.properties
Project/src/consumer/target/analysis/compile
Project/src/consumer/target/maven-archiver/pom.properties
Project/src/producer/target/analysis/compile
Project/src/producer/target/maven-archiver/pom.properties
Project/Project_group6.zip
Project/Project_group6/src.zip
