*.DS_Store
Launch Meeting - Zoom.webloc
*.db
Labs/.vscode/settings.json
Labs/.metals/metals.log
Labs/.metals/readonly/dependencies/scala-library-2.12.14-sources.jar/scala/Unit.scala
Labs/Lab 1/Assignment/pagecounts-20160101-000000_parsed.out
Labs/Lab 1/.vscode/settings.json
Labs/Lab 1/.metals/metals.log
*.out
*.class
*.cache
*.log
*.crc
*.jar
*.bk
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task1/target/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task1/project/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task1/checkpoints/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task1/.bsp/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task1/receivedBlockMetadata/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/.metals/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/.vscode/

/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task2/target/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task2/project/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task2/checkpoints/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task2/.bsp/
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/sparkstreaming/task2/receivedBlockMetadata/

/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/generator/.bsp
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/generator/project 
/Users/emilstahl/Documents/GitHub/Data-Intensive-Computing-ID2221/Labs/Lab2/src/generator/target
*.icloud
